nav {
    background-color: var(--color-accent-2);
    font-family: var(--font-2);
    color: var(--color-dark-1);
    font-size: 22px;
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Anclaje del submenu al item del menu principal */
nav > ul > li {
    position: relative;
    cursor: pointer;
}

/* Ocultar submenu por defecto */
.nav-submenu {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 200px;
}

/* Mostrar submenu en el hover del menu principal */
nav > ul > li:hover > .nav-submenu {
    display: block;
}

nav > ul > li:hover {
    color: var(--color-accent-1);
}

.nav-submenu li {
    background-color: var(--color-accent-2);
}

/* Links nav-submenu */
.nav-submenu a {
    color: var(--color-dark-1);
    display: block;
    padding: 12px;
    font-size: 22px;
}

.nav-submenu a:hover {
    background-color: var(--color-accent-1);
}
