nav {
    background-color: var(--color-accent-2);
    font-family: var(--font-2);
    color: var(--color-dark-1);
    font-size: 22px;
}

nav ul {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-item:hover {
    color: var(--color-accent-1);
}

/* Mostrar "submenu" en al pasar el mouse */
.nav-item:hover > .nav-submenu {
    display: block;
}

/* Submenu (oculto por defecto) */
.nav-submenu {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 200px;
}

.nav-submenu li {
    background-color: var(--color-accent-2);
}

/* Links nav-submenu */
.nav-submenu a {
    color: var(--color-dark-1);
    display: block;
    padding: 12px;
    font-size: 22px;
}

.nav-submenu a:hover {
    background-color: var(--color-accent-1);
}
