/* ------------------------------------------------ */
/* NAVEGACION                                       */
/* ------------------------------------------------ */
nav {
    background-color: var(--color-accent-2);
    font-family: var(--font-2);
    color: var(--color-dark-1);
    font-size: 22px;
}

nav ul {
    display: flex;
    flex-direction: row;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-item {
    position: relative;
    cursor: pointer;
}

.nav-item:hover {
    color: var(--color-accent-1);
}

/* Mostrar "submenu" en al pasar el mouse */
.nav-item:hover > .nav-submenu {
    display: block;
}

/* Submenu (oculto por defecto) */
.nav-submenu {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 200px;
}

.nav-submenu li {
    background-color: var(--color-accent-2);
}

/* Links nav-submenu */
.nav-submenu a {
    color: var(--color-dark-1);
    display: block;
    padding: 12px;
    font-size: 22px;
}

.nav-submenu a:hover {
    background-color: var(--color-accent-1);
}

/* ------------------------------------------------ */
/* DRAWER                                           */
/* ------------------------------------------------ */
.drawer {
    display: none;
    color: var(--color-dark-1);
    font-family: var(--font-2);
    font-size: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-accent-2);
}

.drawer ul{
    flex-direction: column;
    align-items: center;
}

.drawer > ul > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    border-bottom: 2px solid var(--color-dark-2);
}

.drawer-submenu {
    width: 100%;
    display: none;
    background-color: var(--color-accent-3);
}

.drawer-submenu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* ------------------------------------------------ */
/* RESPONSIVO ADAPTANDO A MOVILES                   */
/* ------------------------------------------------ */
@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .drawer {
        display: block;
    }
}